@media (max-width: 575.98px) {
    .top-banner h1 {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        line-height: 31px;
        padding-bottom: 36px;
    }

    .embarcador-mobile {
        justify-content: center !important;
    }

    .top-banner {
        background-size: unset;
        min-height: 350px;
        overflow: hidden;
        background-position: -162px 0;
        padding: 0;
        display: flex;
        align-items: center;
    }



    .bottom-banner {
        height: 60px;
        align-items: center !important;
    }

    .bottom-banner h3 {
        font-size: 26px;
    }

    .content-about {
        padding-left: 20px;
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .content-about h2 {
        font-size: 26px;
    }

    .design-connecting h2 {
        font-size: 20px;
        line-height: 32px;
        padding-top: 0 !important;
    }

    .connecting-space-card {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .text-connecting {
        font-size: 18px !important;
        line-height: 30px;
    }

    .button-white {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 1.25em;
    }

    .button-connecting {
        margin-top: 24px;
    }

    .container-team {
        padding-left: 20px;
    }

    .container-team h2 {
        font-size: 28px;
        line-height: 34px;

    }

    .imagen-team {
        padding-left: 0;
    }

    .text-carousel-embarcador {
        font-size: 26px;
        line-height: 36px;
    }

    .whatsapp-banner {
        height: 200px;
        margin-bottom: 37px;
    }

    .whatsapp-banner button {
        margin-top: 30px;
    }

    .top-banner-transportista {
        background: url("../img/blog/slider-transportista-mobile.png") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 42vh;

        padding: 0;
        display: flex;
        align-items: center;
    }

    .top-banner-transportista h1 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    .content-button-embarcador {
        padding: 0 !important;
        margin-left: 0 !important;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .content-button-embarcador h1 {
        margin-bottom: 0.8125em;
    }

    .content-partner h2 {
        font-size: 28px;

    }

    .content-partner img {
        padding: 0 !important;
        margin: 0 !important;
    }

    .text-connecting-regular {
        font-size: 18px !important;
        font-weight: 400;
        margin-top: 19px;
    }

    .content-testimonial {
        margin-bottom: 70px;
    }

    .content-image-testimonial {
        margin-top: 40px !important;
    }

    .rutas h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 40px;
        margin-top: 45px;
    }

    .carrusel-transportista h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .conten-whats-transportista {
        flex-direction: column;
    }

    .conten-whats-transportista h2 {
        display: inline;
        font-size: 1.25em;
    }

    .conten-whats-transportista span {
        font-size: 1.25em;
    }

    .whatsapp-banner {
        margin-bottom: 0;
    }

    .content-app {
        padding: 0 !important;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .content-app p {
        font-size: 24px;
    }

    .carrusel-faq h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .whats-banner-faq {
        height: 170px !important;
    }

    .content-whats-faq {
        flex-direction: column !important;

    }

    .content-whats-faq h2 {
        font-size: 20px;
    }

    .content-whats-faq button {
        margin-bottom: 20px;
        margin-top: 0 !important;
    }

    .section-registro {
        padding-bottom: 0 !important;
        margin-bottom: 30px !important;
    }

    .navbar .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler {
        padding-right: 12px;
    }

    .navbar .nav-link {
        padding-left: 12px;
    }

    .home {
        background: url(../img/slider-mobile.png) no-repeat;
        background-position: center 1.1375em;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        padding-bottom: 0;


    }

    .botones-home {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .botones-home-space {
        flex-direction: column-reverse;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        width: auto;
        height: 84vh;
    }

    .button-white-home {
        font-size: 1.25em;
    }

    .button-transportista {
        margin-top: 86px;
    }

    .button-home-embarcador {
        margin-right: 0 !important;
        margin-top: 31px;
    }

    .home h3 {
        font-size: 18px !important;
    }

    .bottom-banner {}

    .bottom-banner h3 {
        font-size: 1.25em;
    }

    .button-home-embarcador {
        margin-bottom: 37px;
    }

    .whatsapp-banner .button-white {
        font-size: 1.25em;
    }

    .whats-embarcador-mobile {
        display: flex;
        flex-direction: column;

    }

    .whats-embarcador-mobile h2 {
        font-size: 1.25em;
        line-height: 32px;
    }

    .whats-embarcador-mobile span {
        visibility: hidden;
        display: none;
    }

    .content-terminos {
        flex-direction: column;
    }

    .content-terminos a {
        padding-bottom: 11px;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mobile p {
        text-align: center;
    }

    .text-testimonial {
        font-size: 16px;
    }

    .testimonial-mobile {
        margin: 0 !important;
    }

    .rutas-mobile {
        padding-bottom: 0 !important;
        margin-bottom: 30px !important;
    }

    .section-blog h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 0 !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;

    }

    .card {
        margin-bottom: 20px;
    }

    .accordion-button {
        font-size: 20px;
        line-height: 30px;
    }

    .accordion-button:not(.collapsed) {
        font-size: 20px;
    }

    .accordion-body {
        font-size: 16px;
    }

    .title-faq {
        font-size: 28px;
    }

    .button-green {
        font-size: 20px;
    }

    .top-banner-blog h1 {
        font-size: 24px;
    }

    .top-banner-faq h1 {
        font-size: 24px;
    }

}