@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/*--variable define --*/
:root {
    --primary-color: #0CA669;
    --black-color: #000;
    --white-color: #fff;
    --primary-font: 'Nunito Sans', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    font-size: 100%;
    font-weight: 500;
}

/*Button */
.button-white {
    color: var(--white-color);
    background-color: transparent;
    font-weight: 500;
    font-size: 1.625rem;
    border: 1px solid var(--white-color);
    line-height: 39px;
    padding: 0.75rem 2.1875rem 0.75rem 2.1875rem;
}

.button-white:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.button-green {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.625rem;
    border-color: var(--primary-color);
    padding: 1.0625rem 2.3125rem;
}

.button-green:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.button-white-home {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white-color);
    font-size: 1.625em;
    padding: 12px 28px;

}

.button-white-home:hover {
    background-color: var(--primary-color);
    color: var(--white-color) !important;

}

h1 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 2.625rem;
    line-height: 63px;

}

h2 {
    font-size: 2.25rem;
    line-height: 3.3rem;
    color: var(--black-color);
}

.text-green {
    color: var(--primary-color);
}

.text-black {
    color: var(--black-color);
}

.text-main {
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
}

.semi-bold {
    font-weight: 600 !important;
}

/* Navbar */
.navbar {
    height: 72px;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.navbar .navbar-nav .nav-link.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.nav-link:hover {
    color: var(--white-color) !important;
}

.navigation-wrap {
    background-color: var(--black-color);
}

.navbar-toggler i {
    color: var(--white-color);
}

.nav-link {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--white-color);
    font-size: 1rem;
}

.nav-link:focus {
    color: var(--primary-color);
}

.navbar-collapse {
    background-color: #000;
}

/*Home*/
.home {
    background: url(../img/slider.png) no-repeat center center;
    background-size: cover;
    min-height: 88vh;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
    justify-content: space-around;

}

.botones-home-space {
    width: 100vh;
    justify-content: space-between
}

.botones-home {
    margin-bottom: 51px;
}

/*carousel*/
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
        padding-left: 100px;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;

    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}



/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0px);
}

.carousel-control-prev-icon {
    background-image: url(../img/carousel/Triangle-prev.png);
}

.carousel-control-next-icon {
    background-image: url(../img/carousel/Triangle-next.png);
}


/*Embarcador
Hero*/
.top-banner {
    background: url(../img/bg-banner.png) no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 14.5rem 0 4.9rem 0;
    ;
}

.bottom-banner {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 3rem;
}

.bottom-banner h3 {
    font-size: 1.875rem;
    font-weight: 400;
}


/*About*/
.content-about {
    padding-left: 4.375rem;
}

/*Coneccting*/
.connecting p {
    font-size: 1.3125rem;
}

.connecting-space-card {
    padding-left: 4.6875rem;
    padding-right: 4.375rem;
}

.design-connecting {
    background-color: var(--primary-color);
}

/*Partner*/

.content-partner {
    padding-right: 4.375rem;
}

/*charge*/
.charge-banner {
    background: url(../img/datos.png) no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 1.81rem;
}

.number-charges {
    font-size: 6.25rem;
}

.container-team {
    padding-left: 4.375rem;
    padding-right: 2.875rem;
}

/*whatsapp*/

.whatsapp-banner {
    background-color: var(--black-color);
    height: 8.1rem;
}

.whatsapp-span {
    font-size: 1.75rem;
}

.whatsapp-span i {
    padding-top: 0.3125rem;
    font-size: 1.75rem;
}

/*Blog*/
.section-blog {
    margin-bottom: 13rem;
}

.card-body {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.card-title {
    font-weight: 600;
    font-size: 1.12rem;
}

.card-text {
    font-weight: 400;
    font-size: 0.87rem;
    text-align: justify;
}

.card-body a {
    color: var(--white-color);
}

.card-body a:hover {
    color: var(--white-color) !important;
}

/*footer*/
footer {
    background-color: var(--black-color);
    color: var(--white-color);
}

.footer-text {
    font-size: 0.87rem;
}

.footer-terms {
    font-size: 1.12rem;
    color: var(--white-color);
    text-decoration: unset;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.social-icon ul {
    text-align: center;
}

.social-icon ul li {
    margin-bottom: 4px;
}

.social-icon ul li:hover a {
    background-color: var(--white-color);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.social-icon ul li:hover a i {
    color: var(--primary-color);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social-icon ul li a {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    display: block;
    height: 70px;
    width: 70px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 400ms ease-out 0s;
}

.social-icon ul li a i {
    color: var(--white-color);
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 400ms ease-out 0s;
}

.social-icon ul li a i :hover {
    color: var(--white-color);
}

@media (max-width: 768px) {
    .social-icon ul li a {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 768px) {
    .social-icon ul li a i {
        line-height: 55px;
        font-size: 25px;
    }
}

/*Transportista
Hero*/
.top-banner-transportista {
    background: url(../img/slider-transportista.png) no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 19.3rem 0 4.9rem 0;
}

.text-connecting {
    font-size: 1.31rem;
}

.text-connecting-regular {
    font-weight: 400;
    font-size: 1.125rem;
}

/*testimonios*/
.text-testimonial {
    font-size: 1.31rem;
    font-weight: 400;
}

/*rutas*/
.rutas h2 {
    font-size: 2.37rem;
    font-weight: 600;
}

.app {
    background-color: var(--primary-color);
}

.app p {
    font-size: 2.25rem;
    color: var(--white-color);
}

/*Blog
Hero*/
.top-banner-blog {
    background: url(../img/blog.png) no-repeat fixed;
    background-size: unset;
    min-height: 224px;
    overflow: hidden;
}

.top-banner h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.title-blog {
    font-size: 2.375rem;
    font-weight: 600;
}

/* FAQ */
.top-banner-faq {
    background: url(../img/FAQs.png) no-repeat fixed;
    background-size: unset;
    min-height: 221px;
    overflow: hidden;
}

.title-faq {
    font-size: 2.375rem;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icon-acordion-close.svg);
    transform: rotate(-180deg);
}

.accordion-body {
    font-size: 1.125rem;
    font-weight: 400;
}

.accordion-item {
    border: 1px solid #000;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem rem;
    margin-left: auto;
    content: "";
    background-image: url(../img/icon-acordion.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
}

.accordion-button {
    color: var(--black-color);
    font-size: 28px;
    font-weight: 600;
}

.carousel-faq {
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
}